:root {
    --primary-color: #76ABAE;
    --secondary-color: #F1EF99;
    --color-success:#B0C5A4;
    --color-error: #D37676;
    --color-dark: black;
    --color-darker: #111;
    --color-light: #EEEEEE;
    --color-gray: #818181;
}

html {
    scrollbar-color: var(--primary-color) var(--secondary-color);
    background: var(--color-dark);
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url("../../public/style/assets/background.jpg")
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: var(--secondary-color);
}

.link {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: none;
}

.header-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-row *{
    margin: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.content-card {
    color: var(--color-light);
    background: var(--color-darker);
    box-sizing:border-box;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom, var(--primary-color) 0%, var(--secondary-color) 80%);
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
}

.content {
    color: var(--color-light);
    background: var(--color-darker);

    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.button {
    color: var(--primary-color);
    background: none !important;
    padding: 10px;
    background: var(--color-darker);
    border: solid 2px var(--secondary-color);
    border-radius: 5%;
}

.button-borderless {
    color: var(--primary-color);
    background: none;
    padding: 10px;
    background: var(--color-darker);
    border: none;
}

.button:hover,
.button-borderless:hover, 
.button-warning:hover, 
.toggle-row-button:hover,
summary:hover,
.link:hover 
{
    cursor:pointer;
}

.toggle-row-button-container {
    position: absolute;
    right: 70px;
    background: white;
    max-width: 200px;
    max-height:200px;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
}

.button.toggle-row-menu-button.button-activated {
    background: var(--primary-color) !important;
}

.button-warning {
    background: none;
    padding: 10px;
    border: solid 2px var(--color-error);
    border-radius: 5%;
}

.toggle-row-button {
    background: var(--primary-color);
    border: none;
    border: solid 2px var(--secondary-color);
    border-radius: 5%;
    margin: 2px;
}

.toggle-row-button + .button-activated {
    background: none;
    color: black;
}

.link-button{
    margin-right: 5px;
    padding: 0;
    background:none;
    border: none;
}

.link-button:hover {
    cursor: pointer;
}

.invite-link-copyed {
    display: none;
    position: absolute;
    padding: 10px;
    background-color: var(--color-light);
    color: var(--color-dark);
}

.link-button-text {
    align-self: center;
    background-color: var(--color-gray);
    padding: 5px;
}

.link-button img{
    width:  40px;
    height: auto;
}

.input {
    margin: 5px;
    color: var(--primary-color);
    background: none;
    padding: 10px;
    border: solid 2px var(--primary-color);
}

.input option {
    background-color: var(--secondary-color);
}

.input.empty-error {
    border: solid 2px var(--color-error);
}

div {
    text-overflow: ellipsis;
    overflow: hidden;
}

.container, .row {
    display: flex;
    flex-wrap: wrap;
}

.row-center {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-end {
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
}

.navigation-bar a {
    background: var(--secondary-color);
    padding: 10px;
    margin: 5px;
    display: block;
}

.selected {
    background: var(--primary-color) !important;
}

.body-row {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding: 10px;
}

[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 1px solid black;
    background: white;
    padding: .25em;
    color: black !important;
}

.success-message {
    padding: 10px;
    color: var(--color-success);
}

.error-message {
    padding: 10px;
    color: var(--color-error);
    border: solid var(--color-error);
}

.head-row {
    margin: 0 auto;
    max-width: 800px;
    color: var(--color-light);
    display: flex;
    align-items: center;
    border-bottom: solid 2px var(--secondary-color);
}

.body-row {
    border-left: 2px solid var(--secondary-color);
    border-right: 2px solid var(--primary-color);
    margin: 0 auto;
    max-width: 800px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.body-row:nth-child(odd) {
    background: var(--color-gray);
}

.body-row:nth-child(even) {
    background: var(--color-darker);
}

.col-size-1 {
    flex: 1;
    align-items: center;
    padding:5px;
}

.col-size-2 {
    flex: 2;
    align-items: center;
    padding:5px;
}

/* sidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--secondary-color);
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}

.open-nav-button {
    font-size: 30px;
    cursor: pointer;
    color: var(--secondary-color);
}

.sidenav .close-nav-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}