<%- include('templates/header'); -%>

<div class="content-card">
    <h1 class="row-centeer">
        Willkommen bei FoodieFlock! 
    </h1>
    <h3>
        Dein smarter Helfer für gemeinsames Schmausen.
    </h3>

    <p>
        Bist Du es leid, ständig darüber nachzudenken, was Du kochen sollst? Möchtest Du Zeit und Geld sparen, indem Du Dein Essen effizienter planst und verwaltest? Dann bist Du hier genau richtig!
    </p>

    <h2>
        Was ist FoodieFlock?
    </h2>

    <p>
        FoodieFlock ist eine innovative Plattform, die Dir hilft, Dein Essen gemeinsam mit Freunden, Familie oder Mitbewohnern zu planen und zu verwalten. Mit unseren praktischen Tools wird die Essensplanung zum Kinderspiel!
    </p>
</div>
<div class="content-card">
    <h2>
            Unsere Funktionen im Überblick:
    </h2>

    <ul>
        <li>
            Gemeinsame Einkaufslisten: Erstelle und teile Einkaufslisten mit Deinen Mitbewohnern oder Freunden. So vergisst niemand mehr, die wichtigen Zutaten zu besorgen.
        </li>
        <li>
            Essensplanung: Plane Eure Mahlzeiten für die Woche im Voraus und behalte den Überblick über wer was kocht.
        </li>
        <li>
            Rezepte teilen: Entdecke neue Rezepte und teile Deine Lieblingsgerichte mit Deiner Community.
        </li>
        <li>
            Vorratsverwaltung: Behalte den Überblick über Eure Vorräte und vermeide unnötige Einkäufe.
        </li>
        <li>
            Kostenaufteilung: Verwalte und teile die Kosten für gemeinsame Mahlzeiten einfach und fair.
        </li>
    </ul>
</div>

<div class="content-card">
    <h2>
        Warum FoodieFlock?
    </h2>

    <ul>
        <li>
            Zeit sparen: Keine endlosen Diskussionen mehr darüber, was es zu essen geben soll. Plane Eure Mahlzeiten im Voraus!
        </li>
        <li>
            Kosten senken: Vermeide doppelte Einkäufe und verschwende weniger Lebensmittel.
        </li>
    <li>
            Gemeinschaft stärken: Gemeinsames Essen stärkt die Bindung zu Deinen Mitmenschen. FoodManager macht die Organisation einfach und stressfrei.
        </li>
        <li>
            Nachhaltig leben: Mit unserer Vorratsverwaltung und den Einkaufslisten kaufst Du nur das, was Du wirklich brauchst und vermeidest Lebensmittelverschwendung.
        </li>
    </ul>
</div>

<div class="content-card">
    <h2>
        Jetzt starten!
    </h2>

    <p>
        Melde Dich kostenlos an und entdecke, wie einfach und angenehm Essensplanung sein kann. Schließe Dich unserer wachsenden Community an und bringe Struktur und Freude in Eure gemeinsamen Mahlzeiten!
    </p>

    <div class="navigation-bar row">
        <a href='/auth'>login</a>
    </div> 

</div>

<script src="/public/scripts/login.js"></script>