<head>
    <meta charset='utf-8'>
    <title>ElementKit</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="../public/style/main.css">
</head>
<header class="header-row">
    <a href='/'>
        <h1> 
            Foodieflock
        </h1>
    </a>

    <div class="navigation-bar row">
        <a <% if (title == 'Auth') { %> class="selected" <% } %> href='/auth'>
            login
        </a>
    </div> 
</header>