<!doctype html>
<head>
    <meta charset='utf-8'>
    <title>FoodieFlock</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/public/style/main.css">
</head>



<div id="sidenav" class="sidenav column" sidenav-closed="true" style="width: 50px">
    
    <div class="header-row">
        <span class="open-nav-button" onclick="toggleNav()">&#x2630;</span>
    </div>
    
    <div class="navigation-side-bar ">
        <a <% if (title == 'users') { %> class="selected" <% } %> href='/user-index'>
            <div class="nav-image link-button">
                <img title="leave flock" alt="leave flock" src="/public/assets/icon-users-white.png">
            </div>
            <div class="nav-text">
                users
            </div>
        </a>
        <a <% if (title == 'profile') { %> class="selected" <% } %> href='/profile'>
            <div class="nav-image link-button">
                <img title="leave flock" alt="leave flock" src="/public/assets/icon-user-white.png">
            </div>
            <div class="nav-text">
                user
            </div>
        </a>
        <a <% if (title == 'flocks') { %> class="selected" <% } %> href='/flock-index'>
            <div class="nav-image link-button">
                <img title="leave flock" alt="leave flock" src="/public/assets/icon-sheep-white.png">
            </div>
            <div class="nav-text">
                flocks
            </div>
        </a>
        <a <% if (title == 'foodsessions') { %> class="selected" <% } %> href='/foodsession-index'>
            <div class="nav-image link-button">
                <img title="leave flock" alt="leave flock" src="/public/assets/icon-food-white.png">
            </div>
            <div class="nav-text">
                foodsessions
            </div>
        </a>

        <a href='/logout'>
            <div class="nav-image link-button">
                <img title="logout" alt="logout" src="/public/assets/icon-leave-white.png">
            </div>
            <div class="nav-text">
                logout
            </div>
        </a>
    </div> 
</div>

<script src="/public/scripts/sidenav.js"></script>
