<!doctype html>
<head>
    <meta charset='utf-8'>
    <title>FoodieFlock</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/public/style/main.css">
</head>

<div id="sidenav" class="sidenav column" sidenav-closed="true">
    
    <div class="header-row" onclick="toggleNav()">
        <div class="open-nav-button">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2 middle-line"></span>
                <span class="line line3 middle-line"></span>
                <span class="line line4 middle-line"></span>
                <span class="line line5"></span>
            </div>  
        </div>
    </div>
    
    <div class="navigation-side-bar ">
        <a <% if (title == 'profile') { %> class="selected" <% } %> href='/profile'>
            <div class="nav-image link-button">
                <img title="user" alt="user" src="/public/assets/icon-user-white.png">
            </div>
            <div class="nav-text">
                profile
            </div>
        </a>
        <a <% if (title == 'users') { %> class="selected" <% } %> href='/user-index'>
            <div class="nav-image link-button">
                <img title="users" alt="users" src="/public/assets/icon-users-white.png">
            </div>
            <div class="nav-text">
                users
            </div>
        </a>
        
        <a <% if (title == 'flocks') { %> class="selected" <% } %> href='/flock-index'>
            <div class="nav-image link-button">
                <img title="flocks" alt="flocks" src="/public/assets/icon-sheep-white.png">
            </div>
            <div class="nav-text">
                flocks
            </div>
        </a>
        <a <% if (title == 'foodsessions') { %> class="selected" <% } %> href='/foodsession-index'>
            <div class="nav-image link-button">
                <img title="my foodsessions" alt="my foodsessions" src="/public/assets/icon-food-white.png">
            </div>
            <div class="nav-text">
                my foodsessions
            </div>
        </a>
        <a href='/logout'>
            <div class="nav-image link-button">
                <img title="logout" alt="logout" src="/public/assets/icon-leave-white.png">
            </div>
            <div class="nav-text">
                logout
            </div>
        </a>
    </div> 
</div>

<script src="/public/scripts/sidenav.js"></script>
